# ===================================
# Carpetas de compilación
# ===================================
/out/
/build/
/target/

# ===================================
# Archivos sensibles
# ===================================
config.properties

# ===================================
# Archivos de IDEs
# ===================================
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# ===================================
# Archivos temporales / logs
# ===================================
*.log
*.tmp
*.bak
*.swp
*.swo

# ===================================
# Archivos del sistema operativo
# ===================================
.DS_Store
Thumbs.db
desktop.ini
